table{
    margin: 0 auto;
}
td{
    border: #E1E3E2 solid;
    border-width: 0 1px 1px 0;
    height: 26px;
    line-height: 22px;
    text-align: center;
    padding: 0px 8px;
}
td.red_tip{
    background-color: red;
}